@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
    --leading: 2em;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-bg {
    background: #307D99 url('../images/bg.jpg');
    background-position: 30% 83%;
    color: #fff;
    text-align: center;
    padding-bottom: 4em;
}

header {
    padding: 1em 0;
}

.hero-bg a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

section {
    margin: 0 1em;
}

h1 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 1.3rem;
    position: relative;
    z-index: 1;
}

.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
}

.form-container {
    background-color: #0e0d0d;
    margin: 2em -1em 0;
    padding: 2em;
}

label {
    color: #E6E4E4;
    font-weight: bold;
    display: block;
    margin-bottom: 0.8em;
    font-size: 1.2em;
}

input[type=text] {
    border: 1px solid #F6F6F8;
    width: 100%;
    padding: 1em;
    border-radius: .5em;
    box-sizing: border-box;
    margin-bottom: 1em;
}


input[type=button] {
    background-color: #E2932F;
    border: none;
    width: 100%;
    color: #fff;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

input[type=button]:hover {
    background-color: rgb(216, 125, 1);
}

.authentic, .authentic2 {
    margin: 0;
}

.right-col {
    text-align: center;
    margin: 3em 1em;
}
.right-col2 {
    text-align: center;
    margin: 3em 1em;
}
h2 {
    text-transform: uppercase;
    position: relative;
}

h2::before {
    content: ' ';
    position: absolute;
    width: 8em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

img {
    width: 100%;
}

p {
    line-height: var(--leading)
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
    place-content: center;
    color: #fff;
    display: grid;
    display: none;
    opacity: 0;
}

.animate-overlay {
    animation: overlay 3s forwards;
}


@media (min-width: 730px) {
    section {
        margin: 0 4em;
    }
    .form-container {
        margin: 2em -4em 0;
    }
    .hero-bg {
        background-position: 1% 120%;
    }
    label {
        padding-bottom: 0.5em;
    }
}

@media (min-width: 930px) {
    .hero-bg {
        text-align: left;
        background-position: 40% 50%;
    }
    .hero-bg p {
        margin: 0 0 3em;
    }
    .hero-bg section {
        width: 65%;
    }
    .form-container {
        margin: 2em 0 0;
        padding: 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    }
    form {
        display: flex;
    }
    .form-left {
        width: 70%;
    }
    label {
        margin: 0;
    }
    input[type="button"] {
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 2.2em;
        padding: .7em 0;
        width: 30%;
    }
    .hero-bg p {
        margin-bottom: 0;
    }
    section.authentic, section.authentic2 {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "bowl content";
    }
    .right-col {
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }
    img {
        grid-area: bowl;
    }
    .right-col2 {
        grid-area: bowl;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }
    .image-2 {
        grid-area: content;
    }
    h2 {
        margin: 0;
    }
    input[type=button] {
        margin-top: 1.9em;
    }
}

@media (min-width: 1350px) {
    .hero-bg {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.top {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    } 
    to {
        opacity: 1;
        transform: 0;
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}